@import './base.css';

.content-container {
  display:flex; 
  flex-direction: column; 
  width: 90%; 
  border: thin solid #fff; 
  margin-left: auto; 
  margin-right: auto;
}

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 1rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.center {
  text-align: center;
}

.connected {
    color: green !important;
}

.connectionLost {
    color: red !important;
}

.NotConnected {
  color: yellow !important;
}

.redBg {
    background-color: red !important;
}

.bg-blue1 {
  background-color: #3B71CA;
}

.bg-green {
  background-color: #14A44D;
}

.bg-yellow {
  background-color: #E4A11B;
}

.button {
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

.liftBtn {
  color: #FFF;
  padding-right: 1em;
  padding-right: 1em;
}

.red {
  color: red !important;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    /* place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }
}
